@import "../../common/colors.scss";

.footer{
    background-color: $secondary-color;
    color: $font-primary;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}